.container {
  display: grid;
  gap: 0.5rem;
  padding: 20px;
}
.container > * {
  /* display: flex;
  border: 1px solid black; */
  /* box-shadow: 10px 5px 5px rgb(201, 199, 199); */
}

.container {
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(45, 20px);
}

.container > :nth-child(1) {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: span 10;
}
.container > :nth-child(2) {
  grid-column-start: -1;
  grid-column-end: 3;
  grid-row-start: 12;
  grid-row-end: span 10;
}
.container > :nth-child(3) {
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 23;
  grid-row-end: span 10;
}
.container > :nth-child(4) {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 34;
  grid-row-end: span 10;
}

/* 


.container {
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 100px);
}

.container > :nth-child(1) {
  grid-column-start: 2;
  grid-column-end: span 5;
  grid-row-start: 1;
  grid-row-end: span 4;
}
.container > :nth-child(2) {
  grid-row-start: 3;
  grid-row-end: span 5;
  grid-column-start: 7;
  grid-column-end: span 3;
}
.container > :nth-child(3) {
  grid-row-start: 6;
  grid-row-end: span 5;
  grid-column-start: 2;
  grid-column-end: span 3;
}
.container > :nth-child(4) {
  grid-row-start: 8;
  grid-row-end: span 5;
  grid-column-start: 6;
  grid-column-end: span 3;
}

*/
